.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
    background-color: #ccc;
  }
  .login-container h1{
    color:#2D9596;

  }
  
  .login-form {
    width: 300px;
    height:100%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:white;
  }
  
  /* Username field */
  .login-field:nth-child(1) {
    margin-bottom: 1.2rem;
  }
  /* password field */
  .login-field:nth-child(2) {
    margin-bottom: 0.5rem;
  }
  .login-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .login-field input {
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .login-form >p{
    text-decoration: none;
    text-align: center;
    font-size:1rem;
    padding:0.5rem;
  }
  .login-form link {
    margin-top: 10px;
  }
  
  .login-form .forgot-password-link{
    text-decoration: none;
    color: #007bff;
    font-size:0.8rem;
    position: relative;
    left: 45%;
    
  }
  
  .login-form  button{
    margin-top:1.5rem;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #83C0C1;
    color: white;
    cursor: pointer;
  }
  .login-form  .signup-link{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-radius: 5px;
    background-color: #2D9596;
    color: white;
    cursor: pointer;
  }
  
  .login-form > button:hover {
    background-color: #2D9596;
  }
  